@model PostModel
@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Post</h2>
<partial name="/Views/Shared/EditorPartials/_EditPostPartial.cshtml" for="@Model" />