@model List<PostModel>
@{
    ViewData["Title"] = Model[0].Creator;
}

<div class="container">
    <div class="container">
        <h2>User: @Model[0].Creator</h2>
        <small class="text-muted">Post Count: @Model.Count</small>
    </div>

    @foreach (PostModel x in Model)
    {
        <div class="container">
            <partial name="/Views/Shared/DisplayPartials/_DisplayPostPartial.cshtml" for="@x" />
        </div>
        <br />
    }
</div>

